.portfolio-overlay {
    position: relative;
    overflow: hidden;
    width: 100%;
    height: 100%;
}

.overlay__text {
    color: #FFFFFF;
    font-family: 'Roboto';
    font-style: normal;
    font-weight: 400;
    font-size: 18px;
    line-height: 1.56;
    letter-spacing: 0.03em;
    padding: 63px 24px;
    position: absolute;
    top: 0;
    left: 0;
    transform: translateY(100%);
    display: flex;
    align-items: center;
    justify-content: center;
    backdrop-filter: blur(3px);
    background-color: rgba(33, 150, 243, 0.9);

    transition: var(--anim-slow);


    .card__box:hover &,
    .card__box:focus & {
        transform: translateY(0);
    }
}

.text {
    font-style: normal;
    font-weight: 400;
    font-size: 16px;
    line-height: 1.88;
    letter-spacing: 0.03em;

    color: var(--main-txt-cl);
}

.description {
    padding: 20px 24px;
    border-left: 1px solid var(--portf-cl);
    border-right: 1px solid var(--portf-cl);
    border-bottom: 1px solid var(--portf-cl);
}