.skills {
    padding: 20px 24px;
    border-left: 1px solid var(--portf-cl);
    border-right: 1px solid var(--portf-cl);
    border-bottom: 1px solid var(--portf-cl);

    @media screen and (min-width: 768px) {
        flex-grow: 1;
    }

    &__group {
        font-style: normal;
        font-weight: 400;
        font-size: 16px;
        line-height: 1.88;
        letter-spacing: 0.03em;
        color: var(--main-txt-cl);
    }

    &__card {
        margin-bottom: 4px;
        margin-right: auto;
        font-family: "Roboto";
        font-style: normal;
        font-weight: 700;
        font-size: 18px;
        line-height: 2;
        letter-spacing: 0.06em;
        color: var(--title-text-color);
    }
}





