.footer {
    background-color: var(--hero-bg-cl);
    padding-top: 60px;
    padding-bottom: 60px;
}

.footer-container {
    display: flex;
    align-items: baseline;
    padding: 0 15px;
}

.address {
    margin-top: 20px;
}

.span {
    color: var(--white-txt-cl)
}

.location {
    color: var(--white-txt-cl);
}

.info:not(:last-child) {
    margin-bottom: 9px;
}


.location,
.mail,
.phone {
    display: inline-block;
    font-family: 'Roboto';
    font-style: normal;
    font-weight: 400;
    font-size: 14px;
    line-height: 1.71;
    letter-spacing: 0.03em;
    text-decoration: none;
}

.phone,
.mail {
    color: rgba(255, 255, 255, 0.6);
}

.footer-join {
    margin-left: 70px;
}

.connect {
    display: inline-block;
    margin-bottom: 20px;
    font-size: 14px;
    line-height: 1.14;
    text-transform: uppercase;
    color: var(--main-bg-cl);
}

.footer-list {
    display: flex;
    list-style: none;
    padding: 0;
    margin: 0;
}

.icon-item:not(:last-child) {
    margin-right: 10px;
}

.icon-group {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 44px;
    height: 44px;
    padding: 12px;
    color: var(--main-bg-cl);
    background-color: rgba(255, 255, 255, 0.1);
    border-radius: 50%;

    transition: color var(--anim-slow), background-color var(--anim-slow);

    &:hover,
    &:focus {
        background-color: var(--accent-txt-cl);
    }
}


.footer-icons {
    fill: var(--main-bg-cl);
    transition: color var(--anim-slow);
}


/* Form footer */
.contact-form-wrapper {
    align-items: center;
    margin-left: auto;
}

.contact-form-list {
    display: flex;
    width: 570px;
    height: 86px;
}

.contact-form-field {
    padding: 15px;
    width: 358px;
    height: 50px;
    border: 1px solid rgba(255, 255, 255, 0.3);
    filter: drop-shadow(0px 4px 4px rgba(0, 0, 0, 0.15));
    border-radius: 4px;
    background: var(--hero-bg-cl);
    font-weight: 400;
    font-size: 16px;
    line-height: 1.25;
    letter-spacing: 0.03em;
    color: rgba(255, 255, 255, 0.6);
    outline: transparent;

    transform: border-color var(--anim-slow);

    &:focus {
        border-color: var(--accent-txt-cl);
    }

    &::placeholder {
        font-weight: 400;
        font-size: 16px;
        line-height: 1.25;
        letter-spacing: 0.03em;
        color: rgba(255, 255, 255, 0.6);
    }
}


.footer-btn {
    font-weight: 700;
    display: flex;
    align-items: center;
    text-align: center;
    letter-spacing: 0.06em;
    padding-left: 28px;
    width: 200px;
    height: 50px;
    border: none;
    background-color: var(--accent-txt-cl);
    color: var(--white-txt-cl);
    font-size: inherit;
    cursor: pointer;
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
    border-radius: 4px;
    margin-left: 12px;

    transition: var(--anim-slow);
}

.telegram {
    fill: var(--main-bg-cl);
    margin-left: 10px;
}

.footer-span {
    color: var(--white-txt-cl);
}